<%= simple_form_for(@channel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :firebase_url %>
        <%= f.input :firebase_secret_key %>
        <%= f.input :send_method, collection: Channel.send_methods.keys.map {|w| [w.humanize, w]} %>
        <%= f.input :access, collection: Channel.accesses.keys.map {|w| [w.humanize, w]} %>
        <%= f.input :active %>
      </div>
      <div class="col-md-6">
        <%= f.input :metadata, as: :text, :input_html => {:rows => 3} %>
        <%= f.input :tags, as: :text, :input_html => {:rows => 3} %>
        <%= f.input :latitude %>
        <%= f.input :longitude %>
        <%= f.input :elevation %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Channel Fields</div>
          <div class="panel-body">
            <div id="fields">
              <%= f.simple_fields_for :fields do |field| %>
                <%= render 'field_fields', f: field %>
              <% end %>
              <%= link_to_add_association 'add field', f, :fields %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
