<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<p>
  <strong>Fields:</strong><br/>
  <div style="margin-left: 70px;">
  <% @channel.fields.uniq.each do |field| %>
  <%= field.name %><br/>
  <% end %>
  </div>
</p>

<p>

<p>
  <strong>Metadata:</strong>
  <%= @channel.metadata %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @channel.tags %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @channel.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @channel.longitude %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @channel.elevation %>
</p>

<p>
  <strong>Access:</strong>
  <%= @channel.access %>
</p>

<p>
  <strong>Active:</strong>
  <%= @channel.active %>
</p>

<p>
  <strong>Read api key:</strong>
  <%= @channel.read_api_key %>
</p>

<p>
  <strong>Write api key:</strong>
  <%= @channel.write_api_key %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
