<%= simple_form_for(@event_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :channel %>
    <%= f.input :field %>
    <%= f.input :operation %>
    <%= f.input :value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
