<p id="notice"><%= notice %></p>

<h1>Event Details</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Channel</th>
      <th>Field</th>
      <th>Operation</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_details.each do |event_detail| %>
      <tr>
        <td><%= event_detail.channel.name %></td>
        <td><%= event_detail.field %></td>
        <td><%= event_detail.operation %></td>
        <td><%= event_detail.value %></td>
        <td><%= link_to 'Edit', edit_event_detail_path(event_detail) %></td>
        <td><%= link_to 'Destroy', event_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Detail', new_event_detail_path %>
