<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @event_detail.channel %>
</p>

<p>
  <strong>Field:</strong>
  <%= @event_detail.field %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @event_detail.operation %>
</p>

<p>
  <strong>Value:</strong>
  <%= @event_detail.value %>
</p>

<%= link_to 'Edit', edit_event_detail_path(@event_detail) %> |
<%= link_to 'Back', event_details_path %>
