<h1>Graphic#index</h1>
<p>Find me in app/views/graphic/index.html.erb</p>
<%= pie_chart FieldValue.group(:value).count %>
<%= line_chart FieldValue.group_by_day(:created_at).count %>
<%= line_chart FieldValue.group_by_day(:created_at).count %>
<%= bar_chart FieldValue.group(:value).sum(:id) %>
<%= area_chart FieldValue.group_by_minute(:created_at).count %>
<%= scatter_chart FieldValue.pluck(:value), xtitle: "Size", ytitle: "Population" %>
<%= geo_chart FieldValue.group(:value).count %>



