<div class="row">
  <div class="nested-fields">
    <%= f.association :field, collection:@event.user.fields.pluck('fields.name, fields.id').uniq, wrapper_html: {class: 'col-md-4'} %>
    <%= f.input :operation, as: :select, collection: [['< (Küçüktür)', '<'],
                                                      ['&#8804; (Küçük Eşittir)'.html_safe, '<='],
                                                      ['> (Büyüktür)', '>'],
                                                      ['&#8805; (Büyük Eşittir)'.html_safe, '>='],
                                                      ['= (Eşittir)', '=='],
                                                      ["&ne;  (Eşit Değildir)".html_safe, '!=']],
                wrapper_html: {class: 'col-md-4'} %>
    <%= f.input :value, wrapper_html: {class: 'col-md-2'} %>
    <%= link_to_remove_association "Remove", f %>
  </div>
</div>