<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :script %>
    <%= f.input :message, as: :text %>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Mobile Phones</h3>
          </div>
          <div class="panel-body">
            <div id="event_sms">
              <%= f.simple_fields_for :sent_sms_messages do |sms_message| %>
                <%= render 'sent_sms_message_fields', f: sms_message %>
              <% end %>
              <%= link_to_add_association 'Add Mobil Phone', f, :sent_sms_messages %>
            </div>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">E-mails</h3>
          </div>
          <div class="panel-body">
              <div id="event_email">
                <%= f.simple_fields_for :sent_emails do |email| %>
                  <%= render 'sent_email_fields', f: email %>
                <% end %>
                <%= link_to_add_association 'Add E-mail Address', f, :sent_emails %>
              </div>
          </div>
        </div>


        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Callback URLs</h3>
          </div>
          <div class="panel-body">
              <div id="event_callback">
                <%= f.simple_fields_for :sent_callbacks do |callback| %>
                  <%= render 'sent_callback_fields', f: callback %>
                <% end %>
                <%= link_to_add_association 'Add Callback Url', f, :sent_callbacks %>
              </div>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Push Notifications</h3>
          </div>
          <div class="panel-body">
              <div id="event_push_notification">
                <%= f.simple_fields_for :sent_push_notifications do |push_notification| %>
                  <%= render 'sent_push_notification_fields', f: push_notification %>

                <% end %>
                <%= link_to_add_association 'Add Push Notification', f, :sent_push_notifications %>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Event Details</h3>
          </div>
          <div class="panel-body">
            <div id="event_sms">
              <div id="event_email">

                <div id="event_details">
                  <%= f.simple_fields_for :event_details do |event_detail| %>
                    <%= render 'event_detail_fields', f: event_detail %>
                  <% end %>
                  <%= link_to_add_association 'add event detail', f, :event_details %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
