<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Message</th>
      <th>Sms</th>
      <th>Email</th>
      <th>Push notification</th>
      <th>Call back url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.message %></td>
        <td>
          <% event.sent_sms_messages.each do |sent_sms| %>
            <%= sent_sms.phone %><br/>
          <% end %>
        </td>
        <td>
          <% event.sent_emails.each do |email| %>
            <%= email.email %><br/>
          <% end %>
        </td>
        <td><%= event.push_notification %></td>
        <td>
          <% event.sent_callbacks.each do |callback| %>
            <%= callback.callback %><br/>
          <% end %>
        </td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
