<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @event.user.email %>
</p>

<p>
  <strong>Script:</strong>
  <%= @event.script %>
</p>

<p>
  <strong>Message:</strong>
  <%= @event.message %>
</p>

<p>
  <strong>Sms:</strong>
  <% @event.sent_sms_messages.each do |sent_sms| %>
   <%= sent_sms.phone %><br/>
  <% end %>
</p>

<p>
  <strong>Email:</strong>
  <% @event.sent_emails.each do |email| %>
    <%= email.email %><br/>
  <% end %>
</p>

<p>
  <strong>Push notification:</strong>
  <%= @event.push_notification %><br/>
</p>

<p>
  <strong>Call back url:</strong>
  <% @event.sent_callbacks.each do |callback| %>
    <%= callback.callback %><br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
