<% icon_sizes = [72, 96, 128, 144, 152, 192, 384, 512] %>
{
  "name": "IoT Kayıt Yönetimi - Yönetim Paneli",
  "short_name": "IoT Kayıt Yönetimi",
  "start_url": "/",
  "icons": [
    <% icon_sizes.map { |s| "#{s}x#{s}" }.each.with_index do |dim, i| %>
    {
      "src": "<%= image_path "icons/icon-#{dim}.png" %>",
      "sizes": "<%= dim %>",
      "type": "image/png"
    }<%= i == (icon_sizes.length - 1) ? '' : ',' %>
    <% end %>
  ],
  "theme_color": "#000000",
  "background_color": "#FFFFFF",
  "orientation": "portrait",
  "display": "standalone",
  "gcm_sender_id": "103953800507",
  "gcm_user_visible_only": true
}