<%= simple_form_for(@log) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :channel %>
    <%= f.input :field_1 %>
    <%= f.input :field_2 %>
    <%= f.input :field_3 %>
    <%= f.input :field_4 %>
    <%= f.input :field_5 %>
    <%= f.input :field_6 %>
    <%= f.input :field_7 %>
    <%= f.input :field_8 %>
    <%= f.input :field_9 %>
    <%= f.input :field_10 %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :elevation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
