<p id="notice"><%= notice %></p>

<h1>Logs</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Field 1</th>
      <th>Field 2</th>
      <th>Field 3</th>
      <th>Field 4</th>
      <th>Field 5</th>
      <th>Field 6</th>
      <th>Field 7</th>
      <th>Field 8</th>
      <th>Field 9</th>
      <th>Field 10</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.channel %></td>
        <td><%= log.field_1 %></td>
        <td><%= log.field_2 %></td>
        <td><%= log.field_3 %></td>
        <td><%= log.field_4 %></td>
        <td><%= log.field_5 %></td>
        <td><%= log.field_6 %></td>
        <td><%= log.field_7 %></td>
        <td><%= log.field_8 %></td>
        <td><%= log.field_9 %></td>
        <td><%= log.field_10 %></td>
        <td><%= log.latitude %></td>
        <td><%= log.longitude %></td>
        <td><%= log.elevation %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
