<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @log.channel %>
</p>

<p>
  <strong>Field 1:</strong>
  <%= @log.field_1 %>
</p>

<p>
  <strong>Field 2:</strong>
  <%= @log.field_2 %>
</p>

<p>
  <strong>Field 3:</strong>
  <%= @log.field_3 %>
</p>

<p>
  <strong>Field 4:</strong>
  <%= @log.field_4 %>
</p>

<p>
  <strong>Field 5:</strong>
  <%= @log.field_5 %>
</p>

<p>
  <strong>Field 6:</strong>
  <%= @log.field_6 %>
</p>

<p>
  <strong>Field 7:</strong>
  <%= @log.field_7 %>
</p>

<p>
  <strong>Field 8:</strong>
  <%= @log.field_8 %>
</p>

<p>
  <strong>Field 9:</strong>
  <%= @log.field_9 %>
</p>

<p>
  <strong>Field 10:</strong>
  <%= @log.field_10 %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @log.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @log.longitude %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @log.elevation %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
