<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @field.channel %>
</p>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @field.type %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
