<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <!--<li class="sidebar-search">-->
        <!--<div class="input-group custom-search-form">-->
          <!--<input type="text" class="form-control" placeholder="Search...">-->
          <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>-->
          <!--</span>-->
        <!--</div>-->
        <!--&lt;!&ndash; /input-group &ndash;&gt;-->
      <!--</li>-->
      <li>
        <a href="<%= index_path %>"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <!--<li>-->
      <!--<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>-->
      <!--<ul class="nav nav-second-level">-->
      <!--<li>-->
      <!--<a href="flot.html">Flot Charts</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="morris.html">Morris.js Charts</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
      <!--</li>-->
      <li>
        <a href="<%= channels_path %>"><i class="fa fa-table fa-fw"></i> Channels</a>
      </li>
      <li>
        <a href="<%= events_path %>"><i class="fa fa-wrench fa-fw"></i> Events</a>
      </li>
      <li>
        <a href="<%= blazer_path %>" target="_blank"><i class="fa fa-file-text-o fa-fw"></i> Reports</a>
      </li>
      <li>
        <%= link_to '<i class="fa fa-sign-out fa-fw"></i> Logout'.html_safe, destroy_user_session_path, method: :delete %>
      </li>
      <!--<li>-->
      <!--<a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>-->
      <!--<ul class="nav nav-second-level">-->
      <!--<li>-->
      <!--<a href="panels-wells.html">Panels and Wells</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="buttons.html">Buttons</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="notifications.html">Notifications</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="typography.html">Typography</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="icons.html"> Icons</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="grid.html">Grid</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>-->
      <!--<ul class="nav nav-second-level">-->
      <!--<li>-->
      <!--<a href="#">Second Level Item</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">Second Level Item</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">Third Level <span class="fa arrow"></span></a>-->
      <!--<ul class="nav nav-third-level">-->
      <!--<li>-->
      <!--<a href="#">Third Level Item</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">Third Level Item</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">Third Level Item</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#">Third Level Item</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--&lt;!&ndash; /.nav-third-level &ndash;&gt;-->
      <!--</li>-->
      <!--</ul>-->
      <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>-->
      <!--<ul class="nav nav-second-level">-->
      <!--<li>-->
      <!--<a href="blank.html">Blank Page</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="login.html">Login Page</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
      <!--</li>-->
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>