<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IoT Log Management</title>
  <link rel="manifest" href="/manifest.json" />

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js"></script>
  <script>
      // Initialize Firebase
      var config = {
          apiKey: "AIzaSyCreF30hsX56gYXbXIms0jkiDqdUE504uM",
          authDomain: "iotlogmanagement-81f9b.firebaseapp.com",
          databaseURL: "https://iotlogmanagement-81f9b.firebaseio.com",
          projectId: "iotlogmanagement-81f9b",
          storageBucket: "",
          messagingSenderId: "804008663996"
      };
      firebase.initializeApp(config);
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <meta name="apple-mobile-web-app-capable" content="yes"></head>

<body>

<div id="wrapper">

<%= yield %>

</div>
<!-- /#wrapper -->

</body>

</html>
